*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #03051a;
    --white: white;
    --gap: 3rem;
    --secundary-color: crimson;
    --light-gray-color: #EEE;
    --background-color:rgb(24, 24, 24);
}

/*font-family: 'Montserrat Alternates', sem serifa;
font-family: 'Open Sans', sans-serif;*/

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family:'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 1.5;


}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 8rem;
    text-transform: uppercase;
}

h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

a{
    text-decoration: none;
}
p{
    margin-bottom: 3rem;
}
.main-bg{
    background-size: cover;
    background-position: center center;
    background-color: var(--background-color);
    /*background-image:url(/img/main-content-svg.svg);*/
    color: var(--white);
}

.white-bg{
    background-color: var(--white);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section{
    min-height: 100vh;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: solid 0.1rem var(--light-gray-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;
}

.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/* Efeito ao passar o mouse*/
.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secundary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover:after{
    width: 50%;
    left: 25%;
}
.space{
    height: 3rem;
}
.box-grid{ 
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
  margin: 15px;
}
.intro-text{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    margin-left: 25px;
    padding-top: 5rem;
}
.intro-text p{
    text-indent: 25px;
    padding-top: 20px;
}

.intro-text h2{
    font-size: 6rem;
}

.intro-content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    /*flex-flow: column wrap;*/
    flex-wrap: nowrap;
    min-height: 100vh;
    text-align: center;
}
.intro-content h2{
    padding-bottom: 3rem
}
.grid-one-content{
    flex-flow: column wrap;
    min-height: 100vh;
}
.grid-main-heading{
    margin-bottom: 1rem;
}
.grid-description{
    padding-bottom: 5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3{
   font-size: 3rem; 
   position: relative;
   padding: 3rem;
   padding-bottom: 2rem;
}
.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top:-3rem;
    left: -2rem;
    transform: rotate(6deg);
 }
 .gallery-img{
    width: 100%;
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
 }
 .gallery-img img{
    transition: all 300ms ease-in-out;
 }
 .gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(3deg);
 }
 .contact-form{
    grid-column: span 2;
    padding-bottom: 3rem;
 }
 .contact-form .form-grid{
    border:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    margin: 3rem;
 }
 .form-group{
    flex: 1 1 auto;
 }
 .form-group label{
    display: block;
    margin-bottom: 1rem;
 }

 .form-group input, 
 .form-group textarea{
    border: none;
    background: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
 }
 .form-group input:focus, 
 .form-group textarea:focus{
    box-shadow: 0 0 10px 2px var(--secundary-color);
 }

 body .full-width{ /* O body foi add para sobrescrever especificidade*/
    width: 100%;
    flex: 1 1 320%;
 }

 .form-group button{
    border: 0.4rem solid var(--white);
    background: none;
    color: var(--white);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
 }

 .form-group button:hover{
    background: var(--white);
    color: var(--primary-color);
 }
 .form-group ::placeholder{
    font-size: 1.5rem;
    color: rgb(88, 87, 87);
 }

 #footer{
    text-align: center;
    font-style: italic;
    color: #666;
 }
 #footer p{
    font-size: 1.6rem;
    padding-top: 3rem;
 }

/*Checked do menu para cell*/
.close-menu{
    display: none;
}

.back-to-top{
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white);
    transform: rotate(-90deg);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:var(--primary-color);
}

 /*media Query deixar responsivo*/

 @media (max-width: 800px){
    .box-grid, .grid {
        grid-template-columns: 1fr ;
        display: block;
    }

    .box-grid p{
        width: 60%;
    }

    .gallery-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;   
    }
    .gallery-img img{
        width: 100%;
    }

    .grid-one-content{
        display: block ;
 }
 .menu{
    bottom: 0;
    text-align: center;
    display: none;
 }
 .menu-content, .menu-content ul{
    flex-direction: column;
    justify-content: center;
 }
 .menu-content{
    height: 100vh;
 }

.close-menu-label::after{
    content:'☰' ;
    position:absolute;
    z-index:2;
    top:2rem;
    right: 1rem;
    background: var(--background-color);
    color: var(--white);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.close-menu:checked~.menu{
    display: block;
}
.close-menu:checked~.close-menu-label::after{
    content: '×';
}

 }